@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

body {
    font-family: 'Barlow Condensed', sans-serif;
    margin: auto;
    width: 50%;
}

header {
    margin-top: 60px;
    text-align: center;
}

form {
    display: grid;
    margin-top: 40px;
    margin-bottom: 50px;
}

input {
    background-color: #f7f7f7;
    border: 1px solid #e8e8e4;
    border-radius: 3px;
    text-indent: 5px;
    font-size: 11pt;
}

input:focus {
    outline-color: #2a9d8f;
}

button {
    background-color: #2a9d8f;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    border-color: transparent;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 1.5px #e8e8e4;
}

button:hover, li:hover {
    cursor: pointer;
}

#productManager {
    display: grid;
}

a {
    color: #2a9d8f;
}

#txtNumber {
    color: #f4a261;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0px;
}

li {
    padding: 10px;
    background-color: #f7f7f7;
    color: #f4a261;
    margin-bottom: 10px;
    border-radius: 3px;
    text-align: center;
}

li:hover {
    background-color: #f4a261;
    color: white;
    font-size: larger;
    font-weight: 500;
}

@media only screen and (min-width: 690px){

    div, form {
        font-size: 14pt;
    }

    form {
        column-count: 2;
        grid-template-columns: 70% 30%;
        column-gap: 15px;
    }

    label {
        margin-bottom: 10px;
    }

    input {
        grid-column: 1;
    }

    button {
        grid-column: 2;
        font-size: 12pt;
    }

    #productManager {
        column-count: 2;
    }

    a {
        grid-column: 2;
        text-align: right;
    }

    #lblNumber{
        grid-column: 1;
    }

    #txtNumber {
        grid-column: 1;
    }

    ul {
        grid-column: 1 / span 2;
    }
}

@media only screen and (max-width: 690px){

    div, form {
        font-size: 12pt;
    }

    form {
        column-count: 1;
    }

    label {
        margin-bottom: 1px;
    }

    input {
        padding-top: 7px;
        padding-bottom: 7px;
        margin-bottom: 10px;
    }

    button {
        font-size: 11pt;
    }

    #productManager {
        column-count: 1;
        row-gap: 10px;
    }

    a {
        grid-column: 1 / span 2;
        grid-row: 2;
        text-align: left;
    }

    #lblNumber{
        grid-column: 1;
        grid-row: 1;
    }

    #txtNumber {
        grid-column: 2;
        grid-row: 1;
    }

    ul {
        grid-column: 1 / span 2;
        grid-row: 3;
    }
}

